@media (max-width: 370px) {
  h1 {
    font-size: 30px !important;
  }
  .graph{
    margin-right: -20px !important;
  }
}
@media (min-width: 1200px){
  .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1300px !important;
  }
}

.Ttfl {
  border-radius: 50%;
  margin-top: 3px;
}
